<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= subheading %>
  </p>
  <table id="glossary">
    <tr>
      <th>id</th>
      <th>Term</th>
      <th>Descreption</th>
      <th>References</th>
    </tr>
    <% words.forEach((word)=> { %>
      <tr>
        <td>
          <%= word.id %>
        </td>
        <td>
          <%= word.Term %>
        </td>
        <td>
          <%= word.Descreption %>
        </td>
        <td>
          <%= word.References %>
        </td>
      </tr>
      <% })%>
  </table>
</body>

</html>